<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <label class="navbar-brand" href="">Student Information</label>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/addStudent']">Add Student</a>
        </li>
      </ul>
    </div>
</nav>